.CEO {
  height: 300px;
  position: relative;
  overflow: hidden;
  background-color: rgba(57, 59, 68, 0.9);
  @media (max-width: 850px) {
    height: auto;
  }
}

.ceo__background__image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: -1;
  @media (max-width: 850px) {
    display: none;
  }
}

.ceo__info {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 850px) {
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
    padding: 1rem;
  }
}

.ceo__display__picture {
  background-color: white;
  clip-path: polygon(0 0, 85% 0, 100% 100%, 15% 100%);
  flex: 0.2;
  @media (max-width: 850px) {
    clip-path: unset;
    max-width: 200px;
    max-height: 200px;
    min-width: 200px;
    border-radius: 100px;
    flex: 1;
    overflow: hidden;
    align-self: center;
    background-color: white;
    img {
      transform: translate(0px, -30px) scale(0.8);
    }
  }
}

.ceo__message {
  flex: 0.7;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  @media (max-width: 850px) {
    text-align: left;
    flex: 1;
  }
  p {
    font-size: 19px;
    color: rgb(255, 255, 255);
    line-height: 30px;
  }
  hr {
    width: 7%;
    border: 1px solid rgb(255, 255, 255);
    margin: 1rem 0;
  }
  :nth-child(3) {
    font-weight: bolder;
  }
  :nth-child(4) {
    font-size: 16px;
    color: rgb(161, 161, 161);
    font-weight: bold;
  }
}
